<section id="catalog" class="section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="container-catalog">
      <li class="catalog-item card">
        <div class="card-front">
          <div class="img-con">
            <picture>
              <source
                srcset="
                  ./img/webp/fenix-7x-pro-desktop-1x.png 1x,
                  ./img/webp/fenix-7x-pro-desktop-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/fenix-7x-pro-tablet-1x.png 1x,
                  ./img/webp/fenix-7x-pro-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/webp/fenix-7x-pro-mobile-1x.png 1x,
                  ./img/webp/fenix-7x-pro-mobile-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/webp/fenix-7x-pro-desktop-1x.png"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
                height="292"
                class="image"
              />
            </picture>
          </div>
          <div class="catalog-content-text">
            <h3 class="content-text-ellipsis">
              Garmin Fenix 7X Pro Sapphire Solar
            </h3>
            <p class="content-text-price">€500</p>
          </div>
        </div>
        <div class="card-back fenix-7x-pro">
          <div class="card-back-container">
            <h3 class="card-back-title">
              Sports watch Garmin Fenix 7S Pro Sapphire Solar Edition Carbon
              Gray DLC Titanium with black silicone strap.
            </h3>
            <p class="card-back-text">
              Win every hour with advanced workout, health and wellness
              features, plus over 1 month of battery life with Power Sapphire
              solar-charging display glass and a durable design designed for
              small wrists.
            </p>
            <button type="button" class="card-back-btn">Buy</button>
          </div>
        </div>
      </li>
      <li class="catalog-item card">
        <div class="card-front">
          <div class="img-con">
            <picture>
              <source
                srcset="
                  ./img/webp/marq-desktop-1x.png 1x,
                  ./img/webp/marq-desktop-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/marq-tablet-1x.png 1x,
                  ./img/webp/marq-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/webp/marq-mobile-1x.png 1x,
                  ./img/webp/marq-mobile-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/webp/marq-desktop-1x.png"
                width="292"
                height="292"
                class="image"
                alt="Garmin Marq Athlete"
              />
            </picture>
          </div>
          <div class="catalog-content-text">
            <h3 class="content-text-ellipsis">Garmin Marq Athlete</h3>
            <p class="content-text-price">€450</p>
          </div>
        </div>
        <div class="card-back marq">
          <div class="card-back-container">
            <h3 class="card-back-title">
              Watch-navigator Garmin MARQ Athlete Gen 2 010-02648-41
            </h3>
            <p class="card-back-text">
              You are always promoting your performance. It deserves a
              luxurious, modern tool watch crafted from Grade 5 titanium, with
              an AMOLED display and revolutionary workout and recovery features.
            </p>
            <button type="button" class="card-back-btn">Buy</button>
          </div>
        </div>
      </li>
      <li class="catalog-item card">
        <div class="card-front">
          <div class="img-con">
            <picture>
              <source
                srcset="
                  ./img/webp/descent-desktop-1x.png 1x,
                  ./img/webp/descent-desktop-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/descent-tablet-1x.png 1x,
                  ./img/webp/descent-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/webp/descent-mobile-1x.png 1x,
                  ./img/webp/descent-mobile-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/webp/descent-descktop-1x.png"
                alt="Garmin Descent MK1"
                width="292"
                height="292"
                class="image"
              />
            </picture>
          </div>
          <div class="catalog-content-text">
            <h3 class="content-text-ellipsis">Garmin Descent MK1</h3>
            <p class="content-text-price">€680</p>
          </div>
        </div>
        <div class="card-back descent">
          <div class="card-back-container">
            <h3 class="card-back-title">
              Garmin Descent Mk1 Sports Dive Watch with Black Silicone Band
              Saphire Silver (010-01760-10)
            </h3>
            <p class="card-back-text">
              Garmin Descent Mk1 Silicone Sports Smart Watch Feature-rich dive
              computer with GPS for your underwater adventures Premium,
              full-featured dive computer with GPS receiver.
            </p>
            <button type="button" class="card-back-btn">Buy</button>
          </div>
        </div>
      </li>
      <li class="catalog-item card">
        <div class="card-front">
          <div class="img-con">
            <picture>
              <source
                srcset="
                  ./img/webp/d2-delta-desktop-1x.png 1x,
                  ./img/webp/d2-delta-desktop-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/d2-delta-tablet-1x.png 1x,
                  ./img/webp/d2-delta-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/webp/d2-delta-mobile-1x.png 1x,
                  ./img/webp/d2-delta-mobile-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/webp/d2-delta-desktop-1x.png"
                alt="Garmin D2 Delta PX"
                width="292"
                height="292"
                class="image"
              />
            </picture>
          </div>
          <div class="catalog-content-text">
            <h3 class="content-text-ellipsis">Garmin D2 Delta PX</h3>
            <p class="content-text-price">€380</p>
          </div>
        </div>
        <div class="card-back d2-delta">
          <div class="card-back-container">
            <h3 class="card-back-title">
              Smart watch Garmin D2 Delta PX with titanium DLC bracelet
            </h3>
            <p class="card-back-text">
              Compact multisport for pilots with support for Garmin Pay, music,
              GPS, GLONASS, GALILEO and an integrated optical heart rate
              monitor.
            </p>
            <button type="button" class="card-back-btn">Buy</button>
          </div>
        </div>
      </li>
      <li class="catalog-item catalog-item-hiden card">
        <div class="card-front">
          <div class="img-con">
            <picture>
              <source
                srcset="
                  ./img/webp/fenix-6pro-desktop-1x.png 1x,
                  ./img/webp/fenix-6pro-desktop-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/fenix-6pro-tablet-1x.png 1x,
                  ./img/webp/fenix-6pro-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/webp/fenix-6pro-desktop-1x.png"
                alt="Garmin Fenix 6 Pro Solar"
                width="292"
                height="292"
                class="image"
              />
            </picture>
          </div>
          <div class="catalog-content-text">
            <h3 class="content-text-ellipsis">Garmin Fenix 6 Pro Solar</h3>
            <p class="content-text-price">€400</p>
          </div>
        </div>
        <div class="card-back fenix-6pro">
          <div class="card-back-container">
            <h3 class="card-back-title">
              FENIX 6 PRO SOLAR EDITION BLACK WITH SLATE GRAY BAND -
              010-02410-11
            </h3>
            <p class="card-back-text">
              The Garmin Fenix 6 Pro is a versatile sports yearbook that comes
              with a number of different features. At the entrance to the metal
              building, the design is fully consistent with standard classical
              solutions. The Garmin Fenix 6 Pro provides the convenience of a
              smartphone while also keeping you physically active.
            </p>
            <button type="button" class="card-back-btn">Buy</button>
          </div>
        </div>
      </li>
      <li class="catalog-item catalog-item-hiden card">
        <div class="card-front">
          <div class="img-con">
            <picture>
              <source
                srcset="
                  ./img/webp/s42-date-steel-desktop-1x.png 1x,
                  ./img/webp/s42-date-steel-desktop-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/webp/s42-date-steel-tablet-1x.png 1x,
                  ./img/webp/s42-date-steel-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/webp/s42-date-steel-desktop-1x.png"
                alt="Tube Watch S42 Date Steel With Black Case"
                width="292"
                height="292"
                class="image"
              />
            </picture>
          </div>
          <div class="catalog-content-text">
            <h3 class="content-text-ellipsis">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="content-text-price">€395</p>
          </div>
        </div>
        <div class="card-back s42-date-steel">
          <div class="card-back-container">
            <h3 class="card-back-title">
              Leff Amsterdam Tube Watch S42 Date Steel with Black Dial
            </h3>
            <p class="card-back-text">
              For the design of the Tube watch we teamed up with Dutch Designer
              Piet Hein Eek. Piet’s unparalleled vision on design and LEFF
              amsterdam’s raw, industrial and sophisticated approach, came
              together in an amazing collection of refined yet tough watches.
            </p>
            <button type="button" class="card-back-btn">Buy</button>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
