<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WatchHub</title>
    <link rel="stylesheet" href="./css/choose.css" />
  </head>
  <body>
    <main>
      <div class="container">
      <h1 class="tittle-choose">Choose <span class="span-choose">your story</span>, making every moment unique. Time is your style, and we reveal it.</h1>
      <button class="button-choose" type="button">Contact Us</button>
      </div>
    </main>
  </body>