<footer class="footer" id="footer-id"> 
  <div class="container content">
      <div class="footer-top">
        <div class="footer-item-icon">
        <a class="footer-logo" href="./index.html">watchcharm</a>
        <ul class="footer-item">
          <li class="footer-li"> <a class="footer-link-icon" href="https://m.facebook.com/" target="_blank"><svg class="footer-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-facebook"></use>
            </svg></a></li>
          <li class="footer-li"> <a class="footer-link-icon" href="https://www.instagram.com/" target="_blank"><svg class="footer-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-instagram"></use>
            </svg></a></li>
          <li class="footer-li"> <a class="footer-link-icon" href="https://www.youtube.com/" target="_blank"><svg class="footer-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-youtube"></use>
            </svg></a></li>
        </ul>
        </div>
        <a class="footer-paragraph-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <div class="footer-titl-div">
        <h2 class="footer-title">Have the time of your life with
        our watches: where high-class
        craftsmanship meets
        impeccable design</h2>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-one-section">
          <ul class="footer-item-section">
          <li class="footer-section-list"><a class="footer-section-link" href="./index.html">Home</a></li>
          <li class="footer-section-list"><a class="footer-section-link" href="#aboutus">About Us</a></li>
          <li class="footer-section-list"><a class="footer-section-link" href="#catalog">Catalog</a></li>
          <li class="footer-section-list"><a class="footer-section-link" href="#sale">Sale</a></li>
          <li class="footer-section-list"><a class="footer-section-link" href="#review">Reviews</a></li>
          <li class="footer-section-list"><a class="footer-section-link" href="#contactus">Contact Us</a></li>
          </ul>
          <div class="footer-paragr">1678 S. Pioneer Road Salt Lake City UT 84104</div>
        </div>
        <div class="line-before"></div>
        <div class="footer-descript">
          <p class="descript-paragraph">©2023 The Watch Spot. All rights reserved.</p>
          <ul class="descript-item">
            <li class="descript-list"><a class="descript-link" href="#">Terms of Service</a></li>
            <li class="descript-list"><a class="descript-link" href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
  </div>
  </footer>