.container {
  background-color: #0c0c0c;
  background-image: url(../img/WatchHubIMG/hand1x_mobile.png);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.container-choose {
  display: flex;
  flex-direction: column;
  padding: 60px 28px;
  gap: 28px;
}

.tittle-choose {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  min-width: 279px;
  color: #fbfbfb;

}
.span-choose {
  color: rgba(251, 251, 251, 0.5);
}

.button-choose {
  font-weight: 500;
  line-height: 1.28;
  text-align: center;
  padding: 15px 44px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  color: #fbfbfb;
  white-space: nowrap;
  transition: background-color 250ms #fbfbfb;
  max-width: 160px;
}
.button-choose:hover,
.button-choose:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
 }







