.content{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px 28px 28px 28px;
    background-color: #0C0C0C;
    gap: 92px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
}
.footer-top{
    display: flex;
    flex-direction: column;
    gap:20px;
} 
.footer-logo{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color:#ffffff;
}
.footer-item-icon{
    display: flex;
    gap:20px;
    flex-direction: column;
}
.footer-item{   
    display:flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.footer-li:hover .footer-icon,
.footer-li:focus .footer-icon,
.footer-paragraph:hover .footer-paragraph-link,
.footer-paragraph:focus .footer-paragraph-link,
.footer-paragraph-link:hover,
.footer-paragraph-link:focus{
    fill: #FBFBFB;
    color: #FBFBFB;
    opacity: 100%;
    transition-delay: 250ms;
    transition-duration: 250ms;
}
.footer-icon{
    fill: #FBFBFB;
    padding: 8px;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    opacity: 80%;
}
.footer-paragraph-link{
    white-space: nowrap;
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    font-family: "Gilroy", sans-serif;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    max-width: 152px;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    padding: 14px 20px;
    color: #FBFBFB;
    opacity: 80%;
}
.footer-title{
    font-family: "Gilroy", sans-serif;
    color: #FBFBFB;
    opacity: 80%;
    max-width: 290px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    justify-content: center;
}
.footer-one-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.footer-item-section{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    max-width: 147px;
}
.footer-section-link{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    opacity: 80%;
}
.footer-paragr{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
    opacity: 80%;
    max-width: 83px;
}
.line-before::after{
  content: "";
  background-color: #FBFBFB;
  opacity: 10%;
  width: 100%;
  height: 1px;
  display: block;
  padding: 24px 0;
}
.footer-descript{
    display: flex;
    gap: 8px;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
}
.descript-paragraph{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    opacity: 50%;
}
.descript-item{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}
.descript-link{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    opacity: 50%;
}
@media only screen and (min-width: 768px) {
    .content{
        gap:100px;
        padding: 40px 40px 28px 40px;
    }
    .footer-logo{
        font-size: 20px;
    }
    .footer-item-icon{
        float: left;
    }
    .footer-title-parag{
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    .footer-paragraph-link{
        float: right;
        font-size: 14px;
        padding: 15px;
        max-width: 160px;
    }
    .footer-titl-div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-title{
    max-width: 524px;
    font-weight: 600;
    font-size: 27px;
    line-height: 114%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    }
    .footer-top{
        flex-direction: row;
        row-gap: 86px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-item-section{
        max-width: 400px;
        gap: 0 19px;
        flex-wrap: nowrap;
        White-space: nowrap;
    }
    .footer-section-link{
        font-size: 14px;
        line-height: 129%;
        max-width: 400px;
    }
    .footer-paragr{
        max-width: 162px;
        font-size: 14px;
        line-height: 129%;
    }
    .line-before::after{
        padding: 28px;
    }
    .footer-descript{
        align-items: center;
        flex-direction: row;
    }
    .descript-paragraph{
        font-size: 14px;
        line-height: 129%;
    }
    .descript-link{
        font-size: 14px;
        line-height: 129%
    }
}
@media only screen and (min-width: 1280px) {
    .content{
        gap: 128px;
        padding: 40px 40px 28px 40px;
    }
    .footer-top{
        display: block;
    }
    .footer-titl-div{
        flex-wrap: nowrap;
        align-items: start;
        justify-content: center;
        width:auto;
    }
    .footer-title-parag{
        align-items: start;
        flex-direction: row-reverse;
    }
    .footer-item-section{
        max-width: 505px;
    }
    .footer-paragraph-link{
        margin-bottom: 0;
    }
    .footer-title{
        max-width: 523px;
    }
  }